
<div class="container mt-5">
  <h2 class="text-center mb-4">User Registration</h2>
<div class="w-25 justify-content-center mx-auto">
<label class="form-label">Name</label>
<input type="text" class="form-control row mb-3" placeholder="Enter your name" />
<label class="form-label">Email</label>
<input type="email" class="form-control row mb-3" placeholder="Enter your email" />
<label class="form-label">Password</label>
<input type="password" class="form-control row mb-3" placeholder="Enter your password" />
<button type="submit" class="form-control row mb-3">Submit</button>
</div>
</div>